[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
pytest = "*"
python-dotenv = "*"
langgraph-cli = "*"

[dev-packages]

[requires]
python_version = "3.12"
